<section>
  <img src="<%= @user.gravatar_url %>" />
  <h1><%= @user.username %></h1>
  <p>Email: <%= @user.email %></p>
  <p>Since: <%= @user.created_at %></p>
  <%= render partial: "frienship_requester", locals: {friendship: @friendship, user: @user} %>
</section>
