<section>
  <%= form_with model: @post do |form| %>
    <%= form.label :title, "Title:" %> <br>
    <%= form.text_field :title %> <br>
    <%= form.label :content, "Post content:" %> <br>
    <%= form.text_area :content %> <br>
    <%= form.submit "Post it!!!" %>
  <% end %>
</section>

<section>
  <% @posts.each do |post| %>
    <article>
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>
			<p><strong>Created by:</strong> <%= post.creator.username %></p>
      <p><strong>Likes:</strong> <%= post.liked_users.length %>
      <% unless post.liked_users.include?(current_user) %>
        <%= button_to "Like", likes_path, params: {post_id: post.id}, method: :post %>
      <% else %>
        <%= button_to "Dislike", likes_path, params: {post_id: post.id}, method: :delete %>
      <% end %>
      </p>
      <div class="comments">
        <ul>
        <% post.comments.each do |comment| %>
          <li><%= comment.content %> <b>by </b><%= link_to comment.creator.username, user_show_path(comment.creator.username) %></li>
        <% end %>
        </ul>
        <%= form_with model: post.comments.build do |form| %>
          <%= form.hidden_field :post_id, value: post.id %>
          <%= form.label :content, "Write a comment:" %> 
          <%= form.text_field :content, placeholder: "What do you thing?" %>
          <%= form.submit "Send Comment" %>
        <% end %>
      </div>
    </article>
  <% end %>
	<main-component/>
	<div id="app"></div>
</section>
